.game-button-wrapper {
  position: relative;
  display: inline-block;
  width: 160px;
  height: 50px;
}

.outer-oval {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fdf6e3; /* ivory */
  border-radius: 999px;
  top: 0;
  left: 0;
  z-index: 0;
}

.inner-oval {
  position: relative;
  width: 90%;
  height: 80%;
  background-color: #d32f2f; /* red */
  color: white;
  border: none;
  border-radius: 999px;
  z-index: 1;
  top: 10%;
  left: 5%;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

.inner-oval:hover {
  background-color: #b71c1c;
}